services:
  raftnode:
    build:
      context: ./raft
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 3
      resources:
        limits:
          cpus: '0.0625'
          memory: 50M
    environment:
      - GIN_MODE=release
    networks:
      - custom_network
    stdin_open: true
    tty: true
    restart: always
    hostname: raftNode
    logging:
      driver: "fluentd"  # Use Fluentd logging driver
      options:
        # fluentd-address: "fluentd:24224"  # Fluentd service address
        fluentd-address: "unix:///var/fluentd/fluentd.sock"
        fluentd-async: "true"
        tag: "docker.raftkvnode.logs"
    links:
      - fluentd
    depends_on:
      fluentd:
        condition: service_healthy

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.25
    container_name: elasticsearch
    environment:
      - "discovery.type=single-node"
      - ES_JAVA_OPTS=-Xmx512m -Xms512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"  # Elasticsearch HTTP API port
    networks:
      - custom_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=50s"]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s
    volumes:
      - es_data:/usr/share/elasticsearch/data
      - es_logs:/usr/share/elasticsearch/logs
      - es_socket:/usr/share/elasticsearch/socket

  # Kibana - web interface for logs
  kibana:
    image: marclop/alpine-kibana
    # image: docker.elastic.co/kibana/kibana:8.7.1
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"  # Kibana web UI port
    networks:
      - custom_network
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Fluentd - collects logs and forwards them to Elasticsearch
  fluentd:
    build:
      context: ./fluentd
    container_name: fluentd
    command: ["-c", "/fluentd/etc/fluentd.conf", "-v"]
    ports:
      - "24224:24224"  # Fluentd listens on port 24224 for incoming logs
    networks:
      - custom_network
    volumes:
      - es_socket:/fluentd/socket
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "24224"]  # Check if Fluentd is listening on port 24224
      interval: 10s     # How often to perform the check
      retries: 5        # Number of retries before marking the container as unhealthy
      start_period: 30s  # Time to wait before starting health checks
      timeout: 5s       # Timeout for each check
    depends_on:
      elasticsearch:
        condition: service_healthy

volumes:
  es_data:
  es_logs:
  es_socket:

networks:
  custom_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.28.0.0/28"  # Set the CIDR block here
