services:
  raftnode:
    build:
      context: ./raft
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 3
      resources:
        limits:
          cpus: '0.0625'
          memory: 50M
    environment:
      - GIN_MODE=release
    stdin_open: true
    tty: true
    restart: always
    hostname: raftNode
    networks:
      - custom_network

  watchdog:
    build:
      context: ./watchdog
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    ports:
      - "8090:8081"
    restart: always
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.28.0.0/28"  # Set the CIDR block here
