services:
  raftnode:
    build:
      context: ./raft
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 3
    stdin_open: true
    tty: true
    # ports:
    #   - "8081-8083:8080"
    restart: always
    hostname: raftNode

  watchdog:
    build:
      context: ./watchdog
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    ports:
      - "8090:8081"
    restart: always
